body {
  font-family: 'Roboto', sans-serif;
}

html {
  overflow-x: hidden !important;
}

.wrapper {
  overflow-x: hidden !important;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hidden_important {
  display: none !important;
}

.margin-left-40 {
  margin-left: 40px;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

input:focus,
button:focus {
  outline: none;
}

.no_top {
  margin-top: 0 !important;
}

.header {
  margin-top: 40px;
  padding: 15px 0;
}

.header-logo {
  background: url("../img/logo.png") center no-repeat;
  background-size: 100%;
  width: 191px;
  height: 61px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-contacts-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-contacts__btn {
  margin-left: 13px;
}

.header-contacts__btn img {
  margin-right: 7px;
  vertical-align: middle;
}

.header-contacts__btn span {
  color: #ffffff;
  font-family: 'Roboto';
  line-height: 22px;
  font-weight: 500;
  font-size: 15px;
}

.header-contacts__num {
  font-size: 22px;
  font-weight: 500;
  color: #373737;
  margin-right: 13px;
}

.header-contacts__num:first-child {
  border-right: 1px solid #cfcfd0;
  padding-right: 13px;
}

@-webkit-keyframes move {
  from {
    opacity: 0;
    margin-bottom: -400px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  to {
    opacity: 1;
    margin-bottom: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes move {
  from {
    opacity: 0;
    margin-bottom: -400px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  to {
    opacity: 1;
    margin-bottom: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

.animate {
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.item-menu {
  cursor: pointer;
}

.unmobile-hidden {
  display: none;
}

* {
  outline: none;
}

.section-title {
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 39px;
}

.section-title::after {
  margin-top: 12px;
  content: '';
  display: block;
  height: 6px;
  background: url("../img/title-underline.png") center no-repeat;
}

.btn {
  background-color: #ff9d00;
  border: 1px solid transparent;
  font-size: 14px;
  color: #ffffff;
  padding: 13px 22px;
  border-radius: 5px;
}

.btn:hover {
  background-color: #ffa71a;
  cursor: pointer;
}

.btn img {
  vertical-align: middle;
}

.btn-big {
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: middle;
}

.btn-o {
  background-color: transparent;
  color: #373737;
  border: 1px solid rgba(55, 55, 55, 0.5);
  margin-right: 12px;
}

.btn-o:hover {
  background-color: #ffa71a;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid transparent;
}

.slider-arrow {
  z-index: 5;
  position: absolute;
  top: 0;
  height: 100%;
  width: 22px;
}

.slider-arrow_prod {
  border: 1px solid #ff9d00;
}

.slider-arrow_prod:hover {
  cursor: pointer;
}

.slider-arrow_prod_right {
  background: #fff url("../img/arrow-right.png") center no-repeat;
  right: 0;
}

.slider-arrow_prod_right:hover {
  background: #ff9d00 url("../img/arrow-right-active.png") center no-repeat;
}

.slider-arrow_prod_left {
  left: 0;
  background: #fff url("../img/arrow-left.png") center no-repeat;
}

.slider-arrow_prod_left:hover {
  background: #ff9d00 url("../img/arrrow-left-active.png") center no-repeat;
}

.slider-arrow_feedback:hover {
  cursor: pointer;
}

.slider-arrow_feedback_right {
  background: #f4f4f4 url("../img/arrow-right.png") center no-repeat;
  right: 0;
}

.slider-arrow_feedback_right:hover {
  background: #757575 url("../img/arrow-right-active.png") center no-repeat;
}

.slider-arrow_feedback_left {
  left: 0;
  background: #f4f4f4 url("../img/arrow-left.png") center no-repeat;
}

.slider-arrow_feedback_left:hover {
  background: #757575 url("../img/arrrow-left-active.png") center no-repeat;
}

.dark-bg {
  position: relative;
  z-index: 2;
}

.dark-bg::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.main {
  position: relative;
  padding-top: 65px;
  padding-bottom: 60px;
  background: #373737 url("../img/main/main-bg.jpg") center no-repeat;
  background-size: cover;
  color: #ffffff;
  z-index: 2;
  overflow-x: hidden;
}

.main-slider {
  min-height: auto;
  max-width: 100%;
  overflow-x: hidden;
}

.main::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.main-next {
  background: #373737 url("../img/main/bg-next.jpg") center no-repeat;
  background-size: cover;
}

.main-img {
  position: relative;
  min-width: 445px;
  min-height: 354px;
}

.main-img::before {
  content: '';
  position: absolute;
  height: 370px;
  width: 370px;
  border: 1px solid #fff;
  z-index: -1;
  border-radius: 50%;
  left: 50%;
  margin-left: -135px;
}

.main-img::after {
  content: '';
  position: absolute;
  height: 50px;
  width: 60px;
  left: 85px;
  top: 312px;
  z-index: 3;
  background: url("../img/main/rst.png") center no-repeat;
}

.main-text__title {
  margin-bottom: 20px;
  font-size: 41px;
  font-weight: 700;
}

.main-text__subtitle {
  margin-top: 25px;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 20px;
}

.main-text__form {
  line-height: 30px;
  padding: 30px 27px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 90%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-betwen;
  -ms-flex-pack: space-betwen;
  justify-content: space-betwen;
  margin-bottom: 12px;
}

.form-title {
  padding-right: 87px;
  font-size: 20px;
  font-weight: 300;
  line-hight: 30px;
  margin-bottom: 20px;
}

.form-title__important {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}

.form__input {
  margin-right: 10px;
  padding: 20px;
  border-radius: 4px;
  border: none;
  vertical-align: middle;
  -ms-flex-preferred-size: 51%;
  flex-basis: 51%;
}

@media (max-width: 1199px) and (min-width: 992px) {
  .main-img {
    margin-left: -100px;
  }
}

@media (max-width: 991px) {
  .main-img::before {
    left: 39%;
  }
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 14;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay .popup {
  position: fixed;
  left: 50%;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.overlay .popup-close {
  position: absolute;
  right: -20px;
  top: -30px;
  font-size: 35px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
}

.overlay .popup-title {
  display: block;
  width: 100%;
  min-height: 71px;
  margin: 0;
  background-color: #ff9d00;
  font-size: 21px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  line-height: 71px;
}

.overlay .popup-form {
  background-color: #ccc;
  background: url("../img/popup-bg.jpg") center no-repeat;
  background-size: cover;
  padding: 35px 88px 50px 88px;
  color: #fff;
}

.overlay .popup-form-header {
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

.overlay .popup-form-header span {
  display: block;
  font-size: 24px;
}

.overlay .popup-form__label {
  display: block;
  margin-top: 23px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.overlay .popup-form__input {
  padding-left: 18px;
  width: 95%;
  height: 56px;
  margin-top: 17px;
  border-radius: 5px;
}

.overlay .popup-form__btn {
  width: 180px;
  height: 56px;
  margin-left: 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.overlay .popup-form__note {
  margin-top: 9px;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

.feauters {
  background: #f4f4f4;
  padding-top: 49px;
  padding-bottom: 55px;
}

.feauters-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.feauters-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  background-color: #fff;
  padding: 28px 19px;
  margin-bottom: 30px;
}

.feauters-block__img {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  margin-right: 9px;
}

.feauters-block__title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.feauters-block__descr {
  font-size: 14px;
  font-weight: 400;
}

.numbers {
  text-align: center;
  margin-bottom: 37px;
}

.numbers-block {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.numbers-block__title {
  font-size: 36px;
  color: #ff9d00;
  font-weight: 900;
  margin-bottom: 10px;
}

.numbers-block__title sup {
  font-size: 18px;
}

.numbers-block__text {
  font-size: 16px;
  font-weight: 300;
  color: #373737;
}

.products {
  padding-top: 57px;
  padding-bottom: 73px;
}

.products-block {
  text-align: center;
  margin-bottom: 35px;
}

.products-block__img {
  margin-bottom: 19px;
  width: 95%;
  height: 314px;
}

.products-block__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 28px;
}

.clients-block {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 33px;
  width: 212px;
  height: 130px;
  text-align: center;
  line-height: 180px;
}

.clients-block-middle .clients-block {
  line-height: 210px;
}

.production {
  padding-top: 87px;
  padding-bottom: 90px;
}

.production-slider {
  outline: false;
  position: relative;
  z-index: 2;
}

.production-slider_top {
  margin-bottom: 15px;
}

.production-slider_top img {
  height: 430px;
  overflow-y: hidden;
}

.production-slider_bottom {
  padding-left: 25px;
  padding-right: 25px;
}

.production-slider_bottom img {
  margin: 0 6px;
  height: 100px;
  overflow-y: hidden;
}

.production-text {
  max-width: 379px;
}

.production-text__title {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #fff;
  background-color: #ff9d00;
  -webkit-transform: translateX(-10%);
  transform: translateX(-10%);
  margin-left: -10%;
  margin-top: 19px;
  margin-bottom: 28px;
  padding-left: 21.2%;
  width: 122%;
  z-index: -1;
  font-size: 28px;
  font-weight: 300;
}

.production-text__descr {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;
}

.feedback {
  padding-top: 55px;
  padding-bottom: 66px;
  background: #f4f4f4;
}

.feedback-slider img {
  margin: 0 auto;
}

.offer {
  padding-top: 64px;
  padding-bottom: 69px;
  color: #fff;
  background: grey url("../img/offer/offer.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
}

.offer-title {
  font-size: 32px;
  font-weight: 300;
  line-height: 35px;
}

.offer-title_small {
  display: block;
  font-size: 26px;
  margin-bottom: 20px;
}

.offer-form button {
  margin-bottom: 9px;
}

.offer-form__label {
  font-size: 20px;
  margin-bottom: 17px;
  font-weight: 300;
  display: block;
}

.offer__input {
  text-align: center;
  padding: 21px 120px;
  border-radius: 5px;
  margin-bottom: 12px;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  background: #373737;
  z-index: 10;
}

.menu-anchor {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 10px;
  display: inline-block;
  border-right: 1px dotted rgba(255, 255, 255, 0.2);
  color: #fff;
  height: 25px;
  padding: 7px 1.5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.item-menu {
  position: fixed;
  display: block;
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.6);
  top: 25px;
  left: 10px;
  z-index: 11;
  border-radius: 50%;
}

.item-menu span {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  display: block;
  height: 4px;
  width: 26px;
  top: 50%;
  left: 50%;
  margin-left: -13px;
  margin-top: -2px;
  background-color: rgba(0, 0, 0, 0.8);
}

.item-menu span::after {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  content: '';
  position: absolute;
  display: block;
  height: 4px;
  width: 26px;
  top: 50%;
  left: 50%;
  margin-left: -13px;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

.item-menu span::before {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  content: '';
  position: absolute;
  display: block;
  height: 4px;
  width: 26px;
  top: 50%;
  left: 50%;
  margin-left: -13px;
  margin-top: -9px;
  background-color: rgba(0, 0, 0, 0.8);
}

.item-menu_inactive span {
  margin-top: -4px;
  background-color: transparent;
}

.item-menu_inactive span::before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: 0;
}

.item-menu_inactive span::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-top: 0;
}

.mobile-menu {
  display: block !important;
  position: fixed;
  height: 100vh;
  width: 100%;
  opacity: 0.9;
  padding-top: 10vh;
}

.mobile-menu .menu-anchor {
  padding: 20px;
  display: block;
  height: 6vh;
  margin-top: 1vh;
}

.mobile-menu .menu-anchor:hover {
  background-color: #ff9d00;
}

@media (max-width: 991px) {
  .feauters-block {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row no-wrap;
    flex-flow: row no-wrap;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
  }

  .production-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  .production-text__title {
    text-align: center;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .production-text__descr {
    text-align: center;
    margin-bottom: 22px;
  }

  .line-height-2 {
    line-height: 2.4;
  }

  .header-contacts-numbers {
    margin-right: 0;
    display: block;
  }

  .header-contacts__num {
    font-size: 20px;
  }

  .header-contacts__num:first-child {
    border: none;
  }

  .numbers-block {
    display: block;
    width: 100%;
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .margin-left-40 {
    margin-left: 20px;
  }

  .line-height-2 {
    line-height: 1;
  }

  .feauters-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header-logo {
    width: 120px;
    border-radius: 4px;
  }

  .header-contacts-numbers {
    margin-right: 0;
    display: block;
  }

  .header-contacts__num {
    font-size: 16px;
  }

  .header-contacts__num:first-child {
    border: none;
  }
}

@media (max-width: 576px) {
  .margin-left-40 {
    margin-left: 40px;
  }

  html {
    overflow-x: hidden;
  }

  .item-menu {
    top: 15px;
  }

  .header-logo {
    background: #ff9d00 url("../img/mobile/mobile-logo.png") center no-repeat;
    width: 35px;
    height: 35px;
    border-radius: 4px;
  }

  .hidden-mobile {
    display: none;
  }

  .header-contacts-numbers {
    margin-right: 0;
    display: block;
  }

  .header-contacts__num {
    font-size: 14px;
  }

  .header-contacts__num:first-child {
    border: none;
  }

  .header-contacts .btn {
    padding: 0;
  }

  .header-contacts__btn {
    width: 35px;
    height: 35px;
    padding: 0px;
  }

  .header-contacts__btn img {
    margin: 0;
  }

  .main {
    text-align: center;
    padding-top: 50px;
  }

  .main-text__title {
    font-size: 22px;
    color: #ff9d00;
  }

  .main-text__subtitle {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .main-text__form {
    background-color: transparent;
    padding: 0px;
    margin: 0;
    width: 100%;
  }

  .form {
    display: block;
  }

  .form-title {
    padding-right: 0;
    font-size: 15px;
    line-height: 1.4;
  }

  .form__input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 13px;
  }

  .numbers-block {
    display: block;
    width: 100%;
    margin-bottom: 24px;
  }

  .offer {
    text-align: center;
  }

  .offer-form__label {
    font-size: 14px;
  }

  .offer-title {
    font-size: 20px;
    font-weight: 700;
  }

  .offer-title_small {
    font-size: 16px;
    font-weight: 300;
  }

  .offer__input {
    padding: 21px 50px;
  }

  .production-slider_bottom {
    margin-bottom: 15px;
  }

  .production-slider_bottom img {
    height: auto;
    overflow-y: hidden;
  }

  .popup-form {
    padding: 10px;
  }

  .popup-form-header {
    padding-right: 0;
    font-size: 15px;
    line-height: 1.4;
  }

  .popup-form__input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 13px;
  }

  .wrapper {
    margin-right: 0;
  }
}

@media (max-width: 462px) {
  .overlay .popup {
    display: block;
  }

  .overlay .popup-close {
    right: 5px;
    top: -5px;
  }
}

@media (max-width: 400px) {
  .overlay .popup-close {
    right: 15px;
    top: -5px;
  }
}

@media (max-width: 385px) {
  .overlay .popup-close {
    right: 25px;
    top: -5px;
  }
}

@media (max-width: 365px) {
  .overlay .popup-close {
    right: 45px;
    top: -5px;
  }
}

.contacts {
  position: relative;
}

.contacts-block {
  position: absolute;
  left: 10%;
  top: 10%;
  background-color: #fff;
  padding-top: 33px;
  padding-bottom: 39px;
  padding-left: 60px;
  padding-right: 34px;
}

.contacts-block__title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 8px;
}

.contacts-block__text {
  margin-bottom: 30px;
}

.map {
  width: 100%;
  height: 550px;
}